[data-md-color-scheme="day"] {
    --md-default-fg-color :                rgb(0, 0, 0);
    --md-default-bg-color :                hsla(286, 100%, 94%,1);
    --md-primary-fg-color:             #806080;
    --md-primary-bg-color:             hsla(0, 0%, 100%, 1);
    --md-accent-fg-color:              #eb89eb;
    --md-footer-fg-color:              hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light:       hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter:     hsla(0, 0%, 100%, 0.3);
    --md-footer-bg-color:              #806080;
    --md-footer-bg-color--dark:        hsla(0, 0%, 0%, 0.32);
}
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:             #000000;
    --md-primary-fg-color--white:             #7e7e7e;
    --md-typeset-a-color: hsla(313, 100%, 74%, 0.7);
    --md-hue: 270; 
    --md-accent-fg-color:lime;
}
/**设置内容的宽度*/
.md-grid {
    max-width: 1440px; 
}
/**隐藏页脚的上一个下一个*/
.md-footer__inner {
    display: none;
}
:root > *{
    --md-default-fg-color :                rgb(0, 0, 0);
    --md-default-bg-color :                hsla(286, 100%, 94%,1);
    --md-primary-fg-color:             #806080;
    --md-primary-bg-color:             hsla(0, 0%, 100%, 1);
    --md-accent-fg-color:              #eb89eb;
    --md-footer-fg-color:              hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light:       hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter:     hsla(0, 0%, 100%, 0.3);
    --md-footer-bg-color:              #806080;
    --md-footer-bg-color--dark:        hsla(0, 0%, 0%, 0.32);
}