
/**设置内容的宽度*/
.md-grid {
    max-width: 1280px; 
}
/**隐藏页脚的《上一个》和《下一个》*/
.md-footer__inner {
    display: none;
}
/**设置网页的颜色配置，（可以通过F12开发者工具看具体哪个地方用的是哪个配色属性）*/
:root > *{
    --md-default-fg-color :                rgb(0, 0, 0);
    --md-default-bg-color :                rgb(255, 255, 255);
    --md-primary-fg-color:             #806080;
    --md-primary-bg-color:             hsla(0, 0%, 100%, 1);
    --md-accent-fg-color:              #eb89eb;
    --md-footer-fg-color:              hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light:       hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter:     hsla(0, 0%, 100%, 0.3);
    --md-footer-bg-color:              #806080;
    --md-footer-bg-color--dark:        hsla(0, 0%, 0%, 0.32);
}