<html>
	<head>
		<meta charset="UTF-8">
		<title>底部链接</title>
		<style>
		.alt {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			justify-content: flex-start;
			align-items: flex-start;
		}
		</style>
    </head>
	<body>
		<div class="footer">
			<div class="alt">
				<div class="foot">
					<p>官方网站</p>
					<a href="https://www.ah-soft.com/voiceroid/">Voiceroid</a>
					<a href="https://aivoice.jp/">A.I.Voice</a>
					<a href="https://voicevox.hiroshiba.jp/">Voicevox</a>
					<a href="https://lmroidsoftware.wixsite.com/">Lmroids</a>
					<a href="https://cevio.jp/">CevioAI</a>
					<a href="https://haruqa.booth.pm/items/2755336">TalQu</a>
					<a href="https://coefont.cloud/">Ceofont</a>
					<a href="https://coeiroink.com/">COEIROINK</a>
				</div>
				<div class="foot">
					<p>友情链接</p>
					<a href="https://space.bilibili.com/152434014">DE老师-B站</a>
					<a href="https://cevio-user-guide-unofficial.github.io/CeVIO-AI/">Cevio非官方中文文档</a>
				</div>
				<div class="foot">
					<p>欢迎加群来玩</p>
					<img src="https://s2.loli.net/2022/06/14/jE3yRw5oPu9JQsY.jpg"/>
				</div>
			</div>
		</div>
	</body>
 
</html>